* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 5%;
  padding: 10px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-login input {
  display: flex;
  border-radius: 5px;
  height: 30px;
  border: none;
  padding: 10px;
  width: 30%;
  flex-grow: 1;
  margin-right: 7px;
}

button {
  width: 30%;
  background-color: purple;
  border-radius: 5px;
  color: white;
  margin-right: 7px;
}

main {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: rgb(228, 226, 226);
}

h1 {
  margin-bottom: 20px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  align-items: center;
}

#personal-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#personal-data label {
  width: 100%;
}

#personal-data input {
  border-radius: 5px;
  height: 40px;
  border: none;
  padding: 10px;
  width: 70%;
  margin-left: 10px;
}

#personal-email {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

#personal-email label {
  width: 100%;
}

#personal-email input {
  border-radius: 5px;
  height: 40px;
  border: none;
  padding: 10px;
  width: 70%;
  margin-left: 6px;
}

#personal-email select {
  width: 70%;
  height: 100%;
  border-radius: 5px;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  display: flex;
  background-color: rgb(71, 71, 71);
  justify-content: center;
  padding: 3px;
  color: white;
}

