* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body , html {
  height: 100%;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 5%;
  padding: 10px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-login input {
  display: flex;
  border-radius: 5px;
  height: 30px;
  border: none;
  padding: 10px;
  width: 30%;
  flex-grow: 1;
  margin-right: 7px;
}

button {
  width: 30%;
  background-color: purple;
  border-radius: 5px;
  color: white;
  margin-right: 7px;
}

main {
  display: flex;
  padding-top: 40px;
  padding-bottom: 20px;
  background-color: rgb(228, 226, 226);
  height: 87.8%;
}

h1 {
  margin-bottom: 20px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  padding: 0 6em;
}

#personal-data {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#personal-email {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

#personal-data label {
  width: 100%;
}

#personal-data input {
  border-radius: 5px;
  height: 40px;
  border: none;
  padding: 10px;
  width: 70%;
  margin-left: 10px;
}

#personal-email label {
  width: 100%;
}

#personal-email input {
  border-radius: 5px;
  height: 40px;
  border: none;
  padding: 10px;
  width: 70%;
  margin-left: 6px;
}

#personal-email select {
  width: 70%;
  height: 100%;
  border-radius: 5px;
}

.family-label {
  display: flex;
  flex-direction: column;
}

.family-radio {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

.content {
  display: flex;
}

footer {
  display: flex;
  background-color: rgb(71, 71, 71);
  justify-content: center;
  padding: 3px;
  color: white;
}

